# Ignorar checkpoints do Jupyter
.ipynb_checkpoints
__pycache__

# Ignorar ambientes virtuais
venv/

# Ignorar dados
data/

# Ignorar logs
logs/

# dados sensiveis
config/

logs.txt

# Ignorar arquivos temporários do sistema
*.tmp
*.log
*.swp
*.DS_Store

# Ignorar configurações específicas do ambiente de IDEs
.idea/
*.vscode/
